// app global css in SASS form
@font-face
  font-family: "TeXGyreAdventor"
  src: url(../../public/fonts/TeXGyreAdventor-Regular.ttf)

body
  font-family: "TeXGyreAdventor", sans-serif
  overflow: hidden
